*{
    padding: 0;
    margin: 0;
}

.sky{
    height: 100vh;
    width: 110%;
    background-image: url(background.jpg);  /*sky image link*/
    background-repeat: no-repeat;
    position: absolute;  /*relative to parent*/
    

}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -118px;
}

.track{
    height: 60vh;
    width: 900vw;
    background-image: url(track.png);
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    background-repeat: repeat-x;
    animation: trackmove linear 8s infinite;
}

.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 233px;
    bottom: 81px;
    animation: carmove linear 3s  infinite;

}

.wheel1 img{
    width: 70px ;
    position: relative;
    top: 43px; ;
    left: 46px ;
    animation: wheelRotate linear .2s  infinite;
    
}

.wheel2 img{
    width: 74px ;
    position: relative;
    top: -32px; ;
    left: 235px ;
    animation: wheelRotate linear .2s  infinite;

    
}

body{
    overflow: hidden;  /*to hide the extra width of track on scrolling up/down or to side*/
    /* animation: shakebody linear 7s  infinite; */
}


@keyframes wheelRotate {
    
    100%{
        transform: rotate(360deg);
    }
}

@keyframes trackmove {
    100%{
        transform: translateX(-500vw);
    }
}




@keyframes carmove {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

/* @keyframes shakebody {    --->this is used to shake body  --> to make this animation more alive
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
} */


@media (max-width: 900px) {
    .car{
        left: -4px;
        bottom: 62px;
    }

    .track{
        overflow-y: hidden;
    }
    
    
    
}